site_name: Archanid Docs
site_description: The ultimate Discord Architect, Music, and Economy bot.
site_author: fenruko
site_url: https://arachanid.readthedocs.io/

theme:
  name: material
  palette:
    scheme: slate
    primary: black
    accent: purple
  font:
    text: Inter
    code: JetBrains Mono
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.instant
    - navigation.tracking
    - toc.integrate
    - search.suggest
    - search.highlight
    - content.code.copy
    - content.tabs.link

extra_css:
  - assets/custom.css

nav:
  - Home: index.md
  - Getting Started:
    - Setup Guide: getting-started/setup.md
    - Configuration: getting-started/configuration.md
  - Features:
    - Server Architect: features/architect.md
    - Hi-Fi Music: features/music.md
    - Global Economy: features/economy.md
    - Moderation: features/moderation.md
  - Reference:
    - Commands List: commands.md

markdown_extensions:
  - admonition
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg