site_name: Archanid Docs
site_description: The ultimate Discord Architect, Music, and Economy bot.
site_author: fenruko

theme:
  name: material
  palette:
    scheme: slate # Matches your dark aesthetic
    primary: black
    accent: purple
  features:
    - navigation.tabs
    - navigation.sections
    - toc.integrate

nav:
  - Home: index.md
  - Commands: commands.md
  - Setup Guide: setup.md

markdown_extensions:
  - admonition
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
